<?xml version='1.0' encoding='utf-8'?>
  <Settings>    
    <Track>https://wiki.automationml.org/wiki/index.php/AutomationML_Editor#Bug_reports</Track>    
    <AmlHome>https://www.automationml.org/o.red.c/home.html</AmlHome>
    <AMLToolPages>
&lt;ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema"&gt;
  &lt;string&gt;https://www.automationml.org/o.red.c/dateien.html?cat=3&lt;/string&gt;
  &lt;string&gt;https://www.automationml.org/o.red.c/dateien.html?cat=3&amp;amp;seite=2&lt;/string&gt;
&lt;/ArrayOfString&gt;</AMLToolPages>
    <AMLProjectPage>https://raw.githubusercontent.com/AutomationML/AutomationMLEditor/main
    </AMLProjectPage>
  </Settings>